@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Debug Color */
.debugColor {
  @apply bg-red-500 
  dark:bg-red-900;
}

/* Body & Background Colors */
.bodyColor {
  @apply bg-slate-50 
  dark:bg-black;
}

/* Text Colors */
.textColor {
  @apply text-neutral-900 
  dark:text-neutral-100;
}
.textSecondaryColor {
  @apply text-neutral-500 
  dark:text-neutral-400;
}
.textGradientColor {
  @apply text-transparent 
  bg-gradient-to-r 
  from-neutral-600 
  to-neutral-900 
  dark:from-neutral-50 
  dark:to-neutral-400;
}

/* Button Colors */
.buttonColor {
  @apply bg-neutral-200
  dark:bg-neutral-900
  hover:bg-neutral-300
  dark:hover:bg-neutral-800
  text-neutral-900
  dark:text-neutral-100
  hover:text-neutral-900
  dark:hover:text-neutral-100;
}

.buttonSecondaryColor {
  @apply bg-neutral-900 
  dark:bg-neutral-100 
  text-neutral-100 
  dark:text-neutral-900 
  hover:bg-neutral-800 
  dark:hover:bg-neutral-200;
}
.textButtonColor {
  @apply text-neutral-900 
  dark:text-neutral-400 
  hover:text-neutral-400 
  dark:hover:text-neutral-100;
}
.textButtonSecondaryColor {
  @apply text-neutral-600 
  dark:text-neutral-100 
  hover:text-neutral-400 
  dark:hover:text-neutral-400;
}
.iconButtonColor {
  @apply text-neutral-900 
  dark:text-neutral-400 
  hover:text-neutral-400 
  dark:hover:text-neutral-100;
}

/* Outline Colors */
.outlineColor {
  @apply outline-neutral-300 
  dark:outline-neutral-900;
}

/* Shadow Colors */
.navbarShadowColor {
  @apply shadow-neutral-300 
  dark:shadow-neutral-950;
}

/* Border Colors */
.borderColor {
  @apply border-neutral-300 
  dark:border-neutral-800;
}

/* Timeline Elements Colors */
.circleGradientColor {
  @apply bg-gradient-to-r 
  from-neutral-300 
  to-neutral-600 
  dark:from-neutral-300 
  dark:to-neutral-800;
}
.borderConnectorColor {
  @apply border-neutral-400 
  dark:border-neutral-700;
}

/* Card Theme */
.primaryCardTheme {
  @apply bg-neutral-100 
  dark:bg-neutral-950 
  ring-1 
  ring-neutral-200 
  dark:ring-neutral-900 
  hover:ring-neutral-300 
  dark:hover:ring-neutral-800 
  transition 
  duration-300 
  ease-in-out;
}
.secondaryCardTheme {
  @apply bg-neutral-100 
  dark:bg-neutral-950;
}
.miniCardChipTheme {
  @apply bg-neutral-200 
  dark:bg-neutral-700 
  text-neutral-900
  dark:text-neutral-100;
}

/* Transitions */
.buttonTransition {
  @apply transition 
  duration-300 
  ease-in-out;
}
.sectionTransition {
  @apply transition 
  duration-300 
  ease-in-out;
}

/* Divider Themes */
.dividerTheme {
  @apply h-px
  border-t-0 
  bg-neutral-400 
  dark:bg-neutral-700 
  opacity-60;
}
.gradientDividerTheme {
  @apply h-px 
  border-t-0 
  bg-transparent 
  bg-gradient-to-r 
  from-transparent 
  to-transparent 
  via-neutral-500 
  dark:via-neutral-400
  opacity-60;
}

/* Pagination Item Colors */
.paginationItemColor {
  @apply bg-neutral-200 
  dark:bg-neutral-900 
  text-neutral-900 
  dark:text-neutral-100 
  hover:bg-neutral-300 
  dark:hover:bg-neutral-800;
}
.paginationItemActiveColor {
  @apply bg-neutral-900 
  dark:bg-neutral-100 
  text-neutral-100 
  dark:text-neutral-900;
}

/* TextField Theme */
.textFieldTheme {
  @apply bg-neutral-100 
  dark:bg-neutral-950 
  text-neutral-700 
  dark:text-neutral-200 
  placeholder:text-neutral-500 
  dark:placeholder:text-neutral-400
  border-1
  border-neutral-300 
  dark:border-neutral-800
  focus:ring-1
  focus:ring-neutral-700
  focus:border-transparent
  rounded-md 
  outline-none 
  transition-all;
}

.requiredMark {
  @apply text-red-500 
  dark:text-red-400;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #242424;
}
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}
